tatoo/db/sql/db_schema.dtd

<?xml encoding="utf-8"?>

<!ELEMENT schema (class)+>
<!ATTLIST schema
    xmlns CDATA #FIXED ''>

<!ELEMENT class (property)?>
<!ATTLIST class
    xmlns CDATA #FIXED ''
    name  #REQUIRED
    table  #REQUIRED>

<!ELEMENT property EMPTY>
<!ATTLIST property
    xmlns CDATA #FIXED ''
    column  #REQUIRED
    name  #REQUIRED
    type  #REQUIRED>
